/* 删除 vue 默认样式 */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #F8F9FA
}

.el-message-box {
  border-radius: 15px
}

.el-message {
  border-radius: 15px
}

/* 引用所有css */
@import './nucleo-icons.css';
@import './nucleo-svg.css';
@import './soft-ui-dashboard.css';
